<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiNn3QTbezsVvuCcoUlz8K35-FOdF4V70</string>
	<key>GCM_SENDER_ID</key>
	<string>693895981513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srisawad.sawadpartner</string>
	<key>PROJECT_ID</key>
	<string>sawad-partner-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sawad-partner-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693895981513:ios:65edc795cf94607d50a018</string>
</dict>
</plist>